.primary-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--primary-color);
  color: var(--fourth-color);
  font-weight: bold;
  border: none;
  transition: all 0.25s ease;
}

.primary-button:hover {
  background-color: var(--primary-color-first);
  cursor: pointer;
  transition: all 0.25s ease;
}

.primary-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(224, 108, 159, 0.5);
}
